[user]
	email = kfunk@kde.org
	name = Kevin Funk

[push]
	default = current

[color]
	ui = true

[apply]
	whitespace = fix

[diff "odf"]
	textconv=odt2txt

[merge]
	tool = kdiff3
	guitool = kdiff3

[commit]
	template = ~/.commit-template
	status = on

[alias]
	b = checkout -b
	c = checkout
	d = diff --exit-code
	dt = difftool --dir-diff
	f = fetch --all
	i = rebase -i
	l = log --graph \
	    --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %s %C(green)(%cr)%Creset %C(bold blue)<%an>%Creset' \
	    --abbrev-commit --date=relative
	lo = log -u --stat
	r = !git fetch --all -p && git rebase --autostash
	s = status -uno

	gpush = push gerrit HEAD:refs/for/master
	gpush-qt-dev = push gerrit HEAD:refs/for/dev
	gpush-qt-stable = push gerrit HEAD:refs/for/stable

	pushall = !git remote | xargs -n1 git push
	pushalltags = !git remote | xargs -n1 git push --tags

	add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
	edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"

	edit-last-commit = !vim `git diff-tree -r --name-only HEAD HEAD~1`

	post-review = !post-review -o --guess-summary --guess-description

# more aliases: http://www.jukie.net/~bart/conf/gitconfig

# URL rewrites
[url "git://anongit.kde.org/"]
	insteadOf = kde:
[url "ssh://git@git.kde.org/"]
	pushInsteadOf = kde:
	pushInsteadOf = git://anongit.kde.org/
	pushInsteadOf = git://anongit1.kde.org/
[url "git://github.com/"]
	insteadOf = "github:"
[url "git@github.com:"]
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
[url "git@gitorious.org:"]
	pushInsteadOf = git://gitorious.org/

[rebase]
	stat = true

# vim: set noexpandtab:
[url "git@git.kde.org:"]
	pushInsteadOf = kde:
